/* ********************************************* Navigation bar section start ************************************************ */

#navbar {
    width: 940px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar > img {
    cursor: pointer;
}
#logo {
    width: 140px;
}
#tags > a {
    font-family: "Louis george cafe", sans-serif;
    margin: 20px;
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}
#tags > a:hover {
    color: #fa824c;
}

/* ********************************************** Navigation bar section end ********************************************************* */

/* ********************************************** Main Section start ******************************************************* */

#main {
    width: 940px;
    margin: auto;
    padding-top: 20px;
}

/* *************************************************** Description section start *************************************************** */

#desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
}
#desc > img {
    width: 260px;
    margin-top: 25px;
    padding-left: 30px;
}
#desc > p {
    font-family: "Louis george cafe", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #686868;
}
#desc a {
    font-family: "Louis george cafe", sans-serif;
    width: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px;
    background-color: #fec;
    border-radius: 5px;
    color: #fa824c;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* **************************************************** Description section end ******************************************************* */

/* ************************************************ Parking Images section start ****************************************** */

#parkingimg {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}
#parkingimg > div {
    width: 48.8%;
}
#parkingimg > div > img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ************************************************ Parking Images section end ****************************************** */

/* ************************************************ dashboard section start ******************************************* */

#dashboard {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 20px;
}
#dashboard > div:last-child {
    display: flex;
    justify-content: center;
}
#dashboard img {
    height: 500px;
    margin: 20px auto 0px;
}
#dashboard button {
    padding: 10px 30px;
    border-radius: 5px;
    color: #333333;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}
#dashboard button:hover {
    background-color: #eeeeee;
}

/* ************************************************ dashboard section end ******************************************* */

/* ************************************************ Investors section start ***************************************** */

#investor {
    margin-top: 100px;
}
#investor > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 200px;
    margin-top: 40px;
    justify-items: center;
    align-items: center;
}
#investor img {
    width: 100%;
}

/* ************************************************ Investors section end ***************************************** */

/* ************************************************ Spotlight section start ***************************************** */

#spotlight {
    margin-top: 100px;
    margin-bottom: -40px;
}
#spotlight h3 {
    font-weight: normal;
}
#spotlight > div {
    display: flex;
    justify-content: space-between;
}
#spotlight > div > div:nth-child(1) {
    width: 50%;
}
#spotlight > div > div:nth-child(2) {
    width: 49%;
    height: 400px;
    align-items: center;
}
#spotlight img {
    width: 93%;
    margin-top: 30px;
    transition: ease-out 0.6s;
}
#spotlight img:hover {
    width: 97%;
    transform: rotate(-10deg);
}
#spotlight a {
    color: red;
    font-size: 12px;
}

/* ************************************************ Spotlight section end ***************************************** */

/* *************************************************** Main section end ************************************************ */

/* ************************************************** Footer section start ************************************************** */

#footer {
    background-color: #fec;
    color: #fa824c;
    font-size: 12px;
    margin-top: 20px;
    margin-top: 80px;
}
#footer > div {
    width: 940px;
    margin: auto;
    display: flex;
    padding: 45px 0px 0px 0px;
}
#topf {
    justify-content: space-between;
}
#bottomf {
    flex-direction: column;
}
#midf {
    justify-content: space-around;
}
#bottomf > div {
    border: 1px solid #fa824c;
    margin-bottom: 5px;
}
#bottomf > p {
    margin-left: 10px;
}
#footer p {
    font-size: 16px;
    line-height: 24px;
    color: #a1a6af;
}
#footer a {
    font-family: "Louis george cafe", sans-serif;
    color: #dd703f;
    font-size: 13px;
    font-weight: normal;
}
.left,
#right {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.left > div,
#right > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#right {
    align-items: flex-end;
    text-align: right;
}

/* ******************************************************** Footer section end ************************************************** */
