body {
    margin: 0px;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: #4183c4;
}
body > div {
    width: 100%;
    height: 100vh;
    display: flex;
}
#image {
    background-color: #fec;
    width: 37.5%;
}

#image > div:first-child {
    height: 30vh;
    padding: 15px;
}
#logo {
    width: 150px;
}
#image > div:last-child > img {
    width: 75%;
    margin-left: 75px;
}
#form {
    width: 62.5%;
}
#form > div:first-child {
    width: 100%;
    height: 14px;
    background-color: rgb(248, 248, 248);
}
#heading {
    text-align: center;
    margin-top: 120px;
}
h2 {
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: -5px;
}
p {
    font-size: 14px;
}
form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
label {
    font-size: 12px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: 10px;
}
input {
    margin-top: 7px;
    padding: 17px 30px;
    font-size: 14px;
    border: 0px solid #fff;
    background-color: #f2f2f2;
    outline: none;
    border-radius: 5px;
}
#checkbox {
    display: flex;
}
#checkbox label {
    margin-top: 15px;
    margin-left: 5px;
}
input[type="submit"] {
    margin-top: 15px;
    background-color: #ffeabf;
    color: #fa824c;
    font-weight: bold;
    letter-spacing: 1.4px;
}
#form > div:last-child {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 14px;
    background-color: rgb(248, 248, 248);
}

/* ************************************************ Media query section ***************************************** */

/* ******************************************** Medium Screen section start ********************************* */

@media all and (min-width:768px) and (max-width:1199px) {
    #image {
        background-color: #fec;
        width: 0px;
    }
    
    #image > div:first-child {
        padding: 0px;
    }
    #logo {
        width: 0px;
    }
    #image > div:last-child > img {
        width: 0px;
        margin-left: 0px;
    }
    #extra{
        width: 37%;
        background-color: #f9f9fc;
    }
    #form{
        width: 63%;
    }
}

/* ******************************************** Medium Screen section end ******************************************* */

/* ******************************************** Small Screen section start ****************************************** */

@media all and (max-width:768px) {
    #image {
        background-color: #fec;
        width: 0px;
    }
    
    #image > div:first-child {
        padding: 0px;
    }
    #logo {
        width: 0px;
    }
    #image > div:last-child > img {
        width: 0px;
        margin-left: 0px;
    }
    #extra{
        width: 0px;
        background-color: #f9f9fc;
    }
    #form{
        width: 100%;
    }
}

/* ******************************************** Small Screen section end ******************************************** */