body {
    margin: 0px;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    font-family: Retroica, sans-serif;
    font-weight: bold;
    color: #333333;
}
h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
    margin-bottom: 0px;
}
h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 20px;
}
h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    font-family: "Louis george cafe", sans-serif;
    color: #a1a6af;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* ********************************************* Navigation bar section start ************************************************ */

#navbar {
    width: 60%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar > img {
    cursor: pointer;
}
#logo {
    width: 140px;
}
#tags > a {
    font-family: "Louis george cafe", sans-serif;
    margin: 20px;
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}
#tags > a:hover {
    color: #fa824c;
}

/* ********************************************** Navigation bar section end ********************************************************* */

/* ********************************************** Main Section start ******************************************************* */

#main {
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

/* *************************************************** Description section start *************************************************** */

#desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
}
#desc > img {
    width: 260px;
    margin-top: 25px;
    padding-left: 30px;
}
#desc > p {
    font-family: "Louis george cafe", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #686868;
}
#desc a {
    font-family: "Louis george cafe", sans-serif;
    width: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px;
    background-color: #fec;
    border-radius: 5px;
    color: #fa824c;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* **************************************************** Description section end ******************************************************* */

/* **************************************************** Partner section start ********************************************************** */

#partner {
    display: flex;
    margin-top: 110px;
    justify-content: space-between;
    padding: 0px 10px;
}
#partner > div {
    width: 47.5%;
}
#partner img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#partner > div > div {
    display: flex;
}
#partner > div > div > img {
    margin: 20px;
    width: 50px;
}
#partner h5 {
    margin-bottom: 0px;
    margin-top: 5px;
}

/* ***************************************************** Partner sectionn end ******************************************************** */

/* ***************************************************** Revenue section start ******************************************************* */

#revenue {
    margin-top: 100px;
}
#revenue > img {
    width: 100%;
}

/* ************************************************** Revenue section end ************************************************* */

/* ***************************************** value Proposition section and Data section start ****************************************** */

#proposition{
    margin-top: 100px;
}
#data{
    margin-top: 200px;
}
.ease {
    display: flex;
    gap: 25px;
}
.ease > div {
    width: 30%;
    border: 1px solid rgb(243, 243, 243);
    padding: 30px 20px 50px;
    border-radius: 20px;
    transition: ease-out 1s;
}
.ease > div:hover {
    border: 1px solid rgb(185, 185, 185);
}
.ease > div > div {
    width: 60px;
    height: 60px;
}
.ease > div > div img {
    width: 90%;
    transition: ease-out 0.3s;
}
.ease > div > div img:hover {
    width: 100%;
}

/* **************************************** value Proposition section and Data section end ***************************************** */

/* ****************************************** Deal and Learn Button section start **************************************** */

.deal-LearnBtn {
    width: 100%;
    padding: 20px 0px 30px;
    margin-top: 70px;
    background-color: #f7f7f7;
    border-radius: 10px;
    text-align: center;
    transition: ease-out 0.5s;
    cursor: pointer;
}
.deal-LearnBtn:hover {
    background-color: #e4e4e4;
}
.deal-LearnBtn > h1 {
    margin-bottom: 20px;
}

/* ******************************************** Deal and Learn Button section end ***************************************** */

/* ************************************************ Parking Images section start ****************************************** */

#parkingimg {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}
#parkingimg > div {
    width: 48.8%;
}
#parkingimg > div > img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ************************************************ Parking Images section end ****************************************** */

/* ************************************************ dashboard section start ******************************************* */

#dashboard{
    margin-top: 30px;
    padding: 20px;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 20px;
}
#dashboard img{
    width: 95%;
    margin: 20px auto 0px;
}
#dashboard button{
    padding: 10px 30px;
    border-radius: 5px;
    color: #333333;
    border: none;
    background-color: white;
    font-size: 16px;
}
#dashboard button:hover{
    background-color: #eeeeee;
}

/* ************************************************ dashboard section end ******************************************* */

/* ************************************************ Investors section start ***************************************** */

#investor{
    margin-top: 100px;
}
#investor>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px 200px;
    margin-top: 40px;
    justify-items: center;
    align-items: center;
}
#investor img{
    width: 100%;
}

/* ************************************************ Investors section end ***************************************** */

/* ************************************************ Spotlight section start ***************************************** */

#spotlight{
    margin-top: 100px;
    margin-bottom: -40px;
}
#spotlight h3{
    font-weight: normal;
}
#spotlight>div{
    display: flex;
    justify-content: space-between;
}
#spotlight>div>div:nth-child(1){
    width: 50%;
}
#spotlight>div>div:nth-child(2){
    width: 49%;
    height: 400px;
    align-items: center;
}
#spotlight img{
    width: 93%;
    margin-top: 30px;
    transition: ease-out 0.8s;
}
#spotlight img:hover{
    width: 97%;
    transform: rotate(-10deg);
}
#spotlight a{
    color: red;
    font-size: 12px;
}

/* ************************************************ Spotlight section end ***************************************** */

/* *************************************************** Main section end ************************************************ */

/* ************************************************** Footer section start ************************************************** */

#footer {
    background-color: #fec;
    color: #fa824c;
    font-size: 12px;
    margin-top: 20px;
    margin-top: 80px;
}
#footer > div {
    width: 60%;
    margin: auto;
    display: flex;
    padding: 45px 0px 0px 0px;
}
#topf {
    justify-content: space-between;
}
#bottomf {
    flex-direction: column;
}
#midf {
    justify-content: space-around;
}
#bottomf > div {
    border: 1px solid #fa824c;
    margin-bottom: 5px;
}
#bottomf > p {
    margin-left: 10px;
}
#footer p {
    font-size: 16px;
    line-height: 24px;
    color: #a1a6af;
}
#footer a {
    font-family: "Louis george cafe", sans-serif;
    color: #dd703f;
    font-size: 13px;
    font-weight: normal;
}
.left,
#right {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.left > div,
#right > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#right {
    align-items: flex-end;
    text-align: right;
}

/* ******************************************************** Footer section end ************************************************** */
